---
import type { CollectionEntry } from "astro:content";
import Section from "../shared/Section.astro";
import ListItem from "../shared/ListItem.astro";

interface Props {
  header: string;
  awards: CollectionEntry<"resume">["data"]["awards"];
}

const { awards, header } = Astro.props;
---

<Section header={header} id="awards">
  <ol>
    {
      awards.map((award) => (
        <ListItem>
          <div class="w-full">
            <div class="flex items-center justify-between">
              <h3 class="font-semibold">{award.title}</h3>
              <span class="text-gray-500 flex gap-1">
                <time
                  datetime={award.date.toISOString()}
                  title={award.date.toDateString()}
                >
                  {award.date.getFullYear()}
                </time>
              </span>
            </div>
            <p class="text-gray-500 text-sm">{award.awarder}</p>
            <p class="text-gray-500 text-xs pt-2">{award.summary}</p>
          </div>
        </ListItem>
      ))
    }
  </ol>
</Section>
